wait_topics:
  - /imu0
  - /cam0/camera_info:/cam0/image_raw:/cam1/camera_info:/cam1/image_raw
remaps: 
  - /cam0/camera_info:/stereo/left/camera_info
  - /cam0/image_raw:/stereo/left/image_raw
  - /cam1/camera_info:/stereo/right/camera_info
  - /cam1/image_raw:/stereo/right/image_raw
start_offset: 37
