# List of topics to wait on (to expect a trigger to continue publication)
wait_topics:
  # Single topic
  - /imu0
  # Groupped topics: expect a single trigger for a group of messages with matching-timestamp
  - /cam0/camera_info:/cam0/image_raw:/cam1/camera_info:/cam1/image_raw

# Topics to be remapped to different names
remaps: 
  - /cam0/camera_info:/stereo/left/camera_info
  - /cam0/image_raw:/stereo/left/image_raw
  - /cam1/camera_info:/stereo/right/camera_info
  - /cam1/image_raw:/stereo/right/image_raw

# Offset in second w.r.t. to bag starting time to start playing from
start_offset: 37
